<div class="scrollable" ng-controller="AccountController">
  <div class="scrollable-content">

    <div class="list-group text-center">

      <div class="list-group-item list-group-item-home media">
        <div class="media-body">
            <h3 class="media-heading">Entre com seus dados de acesso</h3>

            <p>&nbsp;</p>

            <form id="form-dca-login">
              <p>
                <input ng-model="dca_username" type="text" placeholder="usuario" id="dca_username" tabindex="1" required="">
              </p>
              <p>
                <input ng-model="dca_password" type="password" placeholder="senha" id="dca_password" tabindex="2" required="">
              </p>
              <p>
                <input ng-model="dca_service" type="text" placeholder="api service" id="dca_service" tabindex="3" required="">
              </p>
              <p>
                <input ng-model="dca_apikey" type="text" placeholder="api key" id="dca_apikey" tabindex="4" required="">
              </p>

              <p>
                <button ng-click="updateAccount()" id="btn-dca-dashboard" class="recommend">Atualizar</button>
              </p>

            </form>


        </div>
      </div>

    </div>

  </div>
</div>
