<div class="scrollable">
  <div class="scrollable-content">

    <div class="iot-dash">
      <i class="fa fa-cog"></i>

      <p>
        <span class="label">status</span>
        <span class="value" id="content-status">-</span>
      </p>
    </div>

    <div class="iot-dash iot-dash-left">
      <i class="fa fa-lightbulb-o"></i>

      <p>
        <span class="label">luminosidade</span>
        <span class="value" id="content-lightbulb">-</span>
      </p>
    </div>

    <div class="iot-dash iot-dash-right">
      <i class="fa fa-sun-o"></i>

      <p>
        <span class="label">temperatura</span>
        <span class="value" id="content-temperature">-</span>
      </p>
    </div>

    <div class="iot-dash">
      <i class="fa fa-cube"></i>

      <p>
        <span class="label">acelerômetro</span>
        <span class="value" id="content-accelerometer">
          X: <span id="content-accelerometer-x">0</span>,
          Y: <span id="content-accelerometer-y">0</span>,
          Z: <span id="content-accelerometer-z">0</span>
        </span>
      </p>
    </div>

    <div class="iot-dash iot-dash-left">
      <i class="fa fa-circle-thin" id="content-button-1-icon"></i>

      <p>
        <span class="label">botão 1</span>
        <span class="value" id="content-button-1">OFF</span>
      </p>
    </div>

    <div class="iot-dash iot-dash-right">
      <i class="fa fa-circle-thin" id="content-button-2-icon"></i>

      <p>
        <span class="label">botão 2</span>
        <span class="value" id="content-button-2">OFF</span>
      </p>
    </div>

    <div class="iot-dash iot-dash-content">
      <span class="label">melodias</span>

      <p>
        <select id="content-buzzer" class="fw" ng-change="melodyChange()" ng-model="melody">
          <option value="1234">Melodia Natalina</option>
          <option value="6789">Melodia Mario</option>
          <option value="456">Melodia Marcha Imperial</option>
        </select>
      </p>
    </div>

    <div class="iot-dash iot-dash-content">
      <span class="label" ng-click="ledOFF()">led rgb</span>

      <p>
        <label class="label">vermelho:</label>
        <input type="range" id="content-led-r" ng-change="ledChange('red')" ng-model="red" value="0" min="0" max="250" step="1"/>
      </p>

      <p>
        <label class="label">verde:</label>
        <input type="range" id="content-led-g" ng-change="ledChange('green')" ng-model="green" value="0" min="0" max="250" step="1"/>
      </p>

      <p>
        <label class="label">Azul:</label>
        <input type="range" id="content-led-b" ng-change="ledChange('blue')" ng-model="blue" value="0" min="0" max="250" step="1"/>
      </p>
    </div>

  </div>
</div>
